In [ ]:
#DATA TYPES AND STRUCTURE QUESTION

1
DATA STRUCTURE ARE THE WAY OF STORING AND ORGANISING DATA IN DIFFERENT FORMS TO UTILIZE IN PROEFFICIENT WAY .

2
MUTABLE DATA TYPES MEANS WHICH CAN BE CAHNGED. EXAMPLE-LISI
IMMUTABLE DATATYPES MEANS WHICH CANNOT BE CHANGED. EXAMPLE - TUPLE

3
THE MAIN DIFFERENCE BETWEEN LIST AND TUPLE ID LIST IS LIST IS MUTABLE AND TUPLE IS IMMUTABLE.

4
DICTIONARY IN PYTHON STORES DATA IN KEY:VALUE FORMAT ,IN WHICH KEY IS BASICALLY THE WORD AND THE VALUE IS IS THE MEANING OF THE KEY.

5
SET HAS MORE MEMORY AS COMPARED TO LIST AND THEY ARE NOT ORDERED IN THE SAME THE WAY THAN THE LIST ARE.

6
A STRING IS BASICALLY THE SEQUENCE OF CAHRACTERS AND THE LIST IS A SEQUENCE OF VALUE WHICH CAN BE CHARACTER INTEGER ETC.

7
TUPLES ENSURES DATA INTEGRITY IN PYTHON MAINLY THROUGH ITS IMMUTABILITY.

8
  A hash table is a data structure that maps keys to values using a hash function.
  In Python, dictionaries are implemented as hash tables, enabling fast lookups, insertions AND DELETON.

9
YES,LIST CAN CONTAIN DIFFERENT TYPES DATA TYPES , IT OFFERS MORE FLEXIBILITY IN PYTHON.

10
STRINGS ARE IMMUTABLE IN PYTHON BECAUSETHEY CANNOT BE CHANGED AFTER CREATED.

11
  FASTER LOOKUP
  - STORE DATA IN KEY-VALUE PAIRS FOR BETTER MAPPING.
  - PREVENT DUPLICATE KEYS AUTOMATICALLY.

12
WHEN YOU NEED READ ONLY DATA SHOULD NOT CHANGE .    

13
SETS AUTOMATICALLY REMOVE DUPLICATES.
  
 S = {1, 2, 2, 3}
  PRINT(S)

  OUTPUT
 {1, 2, 3 }

14
LIST: CHECKS IF AN ELEMENT EXISTS.

 3 IN [1,2,3] # TRUE

 DICTIONARY CHECKS IF AN ELEMENT EXIST
 D = {1: 'A', 2: 'B'}
 1 IN D # TRUE
 'A' IN D # FALSE

15
NO, BECAUSE TUPLES ARE IMMUTABLE. ONCE CREATED, THEIR ELEMENTS
 CANNOT BE CHANGED.

16
A NESTED DICTIONARY IS A DICTIONARY INSIDE ANOTHER DICTIONARY.
 EXAMPLE (STUDENT RECORDS):

 STUDENTS = {
 'ALICE': {'AGE': 20, 'GRADE': 'A'},
 'BOB': {'AGE': 22, 'GRADE': 'B'}
 }

17
AVERAGE CASE 0(1) DUE TO HASHING.
WORST CASE: O(N)

18
WHEN ORDER MATTERS (LISTS MAINTAIN INSERTION ORDER)
 WHEN INDEXING BY POSITION IS NEEDED.

19
A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added. In older versions of Python (before 3.7), dictionaries did not preserve insertion order at all. This meant that when you accessed or printed the items, the order could vary, as dictionaries were optimized for fast lookups rather than maintaining order

20
 LIST : RETRIEVAL BY INDEX 0(1)ACCESS.DICTIONARY: RETRIEVAL BY KEY (HASH LOOKUP). O(1) AVERAGE CASE

In [ ]:
#PRACTICAL QUESTION

In [ ]:
#1
my_name = "partha sarathi yadav"
print(my_name)

partha sarathi yadav

In [ ]:
#2
x="hello world"
print(len(x))

11

In [ ]:
#3
string="python programming"
print(string[:4])

pyth

In [ ]:
#4
string="hello"
uppercase_string=string.upper()
print(uppercase_string)

HELLO

In [ ]:
#5
string="i like apple"
print(string.replace("apple","orange"))

i like orange

In [ ]:
#6
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#7
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
#8
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
#9
list=['a','b','c','d']
print(list[1])

b

In [ ]:
#10
list=[10,20,30,40,50]
print(list[::-1])

[10, 20, 30, 40]

In [ ]:
#11
tuple=(100,200,300)
print(tuple)

(100, 200, 300)

In [ ]:
#12
tuple=('red','green','blue','yellow')
print(tuple[-2])

blue

In [44]:
#13
tuple=(10,20,5,15)
print(min(tuple))

5

In [47]:
#14
tuple=('dog','cat','rabbit')
print(tuple.index("cat"))

1

In [53]:
#15
tuple=("apple","orange","kiwi")
print("kiwi"in tuple)

True

In [54]:
#16
set=('a','b','c')
print(set)

('a', 'b', 'c')

In [57]:
#17
set={1,2,3,4,5}
set.clear()
print(set)

set()

In [60]:
#18
set={1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [61]:
#19
set_1={1,2,3}
set_2={3,4,5}
set_3=set_1.union(set_2)
print(set_3)

{1, 2, 3, 4, 5}

In [68]:
#20
set1={1,2,3}
set2={2,3,4}
set3=set1.intersection(set2)
print(set3)

{2, 3}

In [99]:
#21

person_info = {
    "name":"rahul",
    "age": 30,
    "city":"New York"
}


print(person_info)

{'name': 'rahul', 'age': 30, 'city': 'New York'}

In [101]:
#22
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'

print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [104]:
#23
my_dict = {'name': 'Alice', 'age': 30}
print(name_value)

Alice

In [105]:
#24
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict.pop('age')
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [106]:
#25
my_dict = {'name': 'Alice', 'city': 'Paris'}

if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [109]:
#26
my_list = [10, 20, 30, "apple", "banana"]
my_tuple = (1, 2, "hello", 4.5)
my_dictionary = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

print("My list", my_list)

print("My Tuple:", my_tuple)

print("My Dictionary:", my_dictionary)

My list [10, 20, 30, 'apple', 'banana']
My Tuple: (1, 2, 'hello', 4.5)
My Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

In [110]:
#27
import random
random_numbers = []

for _ in range(5):
    random_numbers.append(random.randint(1, 100))

random_numbers.sort()

print(random_numbers)

[7, 26, 51, 73, 93]

In [111]:
#28
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

print(my_list[3])

date

In [114]:
#29
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

merged_dict = dict1 | dict2
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [123]:
#30
my_list = [1, 2, 3, , 4, 5,]
my_set = set(my_list)
print(my_set)

SyntaxError: invalid syntax (ipython-input-640164707.py, line 2)